global
  log /dev/log local0
  log localhost local1 notice
  maxconn 2000
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  retries 3
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend http-in
  bind *:80
  default_backend webservers

backend webservers
  stats enable
  stats auth admin:admin
  stats uri /haproxy?stats
  balance roundrobin
  option httpchk
  option forwardfor
  option http-server-close
  server broadcast1 broadcast1:80 check
  server broadcast2 broadcast2:80 check
  server broadcast3 broadcast3:80 check
  server broadcast4 broadcast4:80 check

